<script src="{{ "/assets/libs/jquery/dist/js/jquery-3.7.1.min.js" | relative_url }}"></script>
<script src="{{ "/assets/libs/jquery-ui/dist/jquery-ui.min.js" | relative_url }}"></script>
<script src="{{ "/assets/libs/highlight/highlight.min.js" | relative_url }}"></script>
<script src="{{ "/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/main.js" | relative_url }}"></script>

<script>
hljs.registerLanguage('azurecli', function(hljs) {
  return {
    keywords: {
      keyword: 'az group create delete list show update vm start stop restart',
      literal: 'true false',
    },
    contains: [
      hljs.HASH_COMMENT_MODE, // For comments
      hljs.QUOTE_STRING_MODE, // For strings
      hljs.NUMBER_MODE        // For numbers
    ]
  };
});
hljs.highlightAll();
</script>
