<script crossorigin="anonymous" src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
<script crossorigin="anonymous" src="https://code.jquery.com/ui/1.14.2/jquery-ui.min.js"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<script crossorigin="anonymous" src="https://cdn.datatables.net/2.3.7/js/dataTables.min.js"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/11.12.0/mermaid.min.js"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/moment-timezone@0.6.0/builds/moment-timezone-with-data.min.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"></script>

<script src="{{ "/assets/js/main.js" | relative_url }}"></script>

<script>
hljs.registerLanguage('azurecli', function(hljs) {
  return {
    keywords: {
      keyword: 'az group create delete list show update vm start stop restart',
      literal: 'true false',
    },
    contains: [
      hljs.HASH_COMMENT_MODE, // For comments
      hljs.QUOTE_STRING_MODE, // For strings
      hljs.NUMBER_MODE        // For numbers
    ]
  };
});
hljs.highlightAll();

$('table.display').DataTable()
</script>
