<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ "/assets/libs/bootstrap-icons/dist/bootstrap-icons.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/libs/jquery-ui/dist/jquery-ui.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/libs/highlight/styles/default.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/libs/bootstrap/dist/css/bootstrap.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
