<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Microsoft Certificates
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/certs/ms/"><strong>List</strong></a></li>{% for cert in site.data.ms.certificates %}
                        <li>{% if cert.url > '' %}<a class="ps-4 dropdown-item" href="{{ cert.url }}">{% else %}<a class="ps-4 dropdown-item disabled" href="#">{% endif %}
                            {{ cert.name }} <i>({{ cert.code }})</i></a></li>{% endfor %}
                    </ul>
                </li>
                <li class="nav-item" id="myBooks">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        My Books
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/books/"><strong>Books</strong></a></li>{% for book in site.data.books.list %}
                        <li>{% if book.url > '' %}<a class="ps-4 dropdown-item" href="{{ book.url }}">{% else %}<a class="ps-4 dropdown-item disabled" href="#">{% endif %}
                            {{ book.name }}</a></li>{% endfor %}
                    </ul>
                </li>
            </ul>
            <p class="nav navbar-text"><span id="userName"></span></p>
            <a class="btn btn-sm btn-success text-light" id="loginButton" href="/login">Login</a>
            <a id="logoutButton" class="btn btn-sm btn-danger text-light" style="display:none;"
                href="/logout">Logout</a>
        </div>
    </div>
</nav>