---
title: 'AZ400: Designing and Implementing Microsoft DevOps Solutions - Sample Quiz'
permalink: /courses/AZ400/quiz.html
layout: default
amount: 25
---
<script>var JSONdata = [{% for row in site.data.az400quiz %}{% if forloop.first %} { {% else %},{ {% endif %}{% for pair in row %}"{{pair[0]}}": "{{pair[1]}}"{% if forloop.last %}{% else %},{% endif %}{% endfor %} } {% endfor %}]</script>
<link rel="stylesheet" type="text/css" href="{{ "/assets/styles/quiz.css" | relative_url }}">
<main>
    <!-- creating a modal for when quiz ends -->
    <div class="modal-container" id="score-modal">
        <div class="modal-content-container">
            <h1>Congratulations, Quiz Completed.</h1>
            <div class="grade-details">
                <p>Attempts : {{ page.amount }}</p>
                <p>Wrong Answers : <span id="wrong-answers"></span></p>
                <p>Right Answers : <span id="right-answers"></span></p>
                <p>Grade : <span id="grade-percentage"></span>%</p>
                <p><span id="remarks"></span></p>
            </div>
            <div class="modal-button-container">
                <button onclick="closeScoreModal()">Continue</button>
            </div>
        </div>
    </div>
    <!-- end of modal of quiz details-->

    <div class="game-quiz-container">
        <h3>{{ page.title }}</h3>
        <div class="game-details-container">
            <span>Score : <span id="player-score"></span> / {{ page.amount }} </span>
            <span>Question : <span id="question-number"></span> / {{ page.amount }} </span>
        </div>
        <div class="game-question-container">
            <span id="display-question"></span>
        </div>
        <div class="game-options-container">
            <span>
                <input type="radio" id="option-one" name="option" class="radio" value="optionA" />
                <label for="option-one" class="option" id="option-one-label"></label>
            </span>
            <span>
                <input type="radio" id="option-two" name="option" class="radio" value="optionB" />
                <label for="option-two" class="option" id="option-two-label"></label>
            </span>
            <span>
                <input type="radio" id="option-three" name="option" class="radio" value="optionC" />
                <label for="option-three" class="option" id="option-three-label"></label>
            </span>
            <span>
                <input type="radio" id="option-four" name="option" class="radio" value="optionD" />
                <label for="option-four" class="option" id="option-four-label"></label>
            </span>
        </div>
        <div class="next-button-container">
            <button onclick="handleNextQuestion()">Next Question</button>
        </div>
    </div>
</main>
<script src="{{ "/assets/scripts/quiz.js" | relative_url }}"></script>
<script>
    NextQuestion(0, JSONdata, {{page.amount}});
</script>
