.box{
    vertical-align:middle;
  }

  i.fa-clipboard {
    cursor: pointer;
    position: relative;
    top: -0.5em;
    font-size: 80%;
    margin-left: 5px;
    color: rgb(129, 192, 231)
  }

    i.fa-clipboard:hover {
      color: darkblue
    }

    i.fa-clipboard:active {
      color: darkred
    }

  blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
  }

  pre {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  div.highlight {
    background: transparent !important;
  }

  input.box {
    margin-right: 5px;
  }

  img {
    max-width: 800px !important;
  }
  