<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include headStyles.html %}
    {% include headScripts.html %}
  </head>
  <body class="container-fluid bg-secondary-subtle">
    <header>
      {% include navBar.html %}
    </header>
    <main class="container bg-light">
      {% include content.html %}
    </main>
  </body>
</html>
