<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.lab.title }} - {{ site.title }}</title>
    {% include headStyles.html %}
    {% include headScripts.html %}
  </head>
  <body class="container-fluid">
    <h1 class="border-bottom mb-3">{{ page.lab.title }}</h1>

    <main class="container">
      {{ content }}
    </main>
    
    {% include footScripts.html %}
  </body>
</html>
